@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.text-center {
  text-align: center;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
}

.game-image-container img {
  max-height: 300px;
  max-width: 100%;
  width: auto;
}

.pagination-btn:not(:last-of-type) {
  margin-right: 5px;
}
